----

Date:2020/12/02

----

# 1. Read Data

In [ ]:
import pandas as pd
import numpy as np



# CSVファイルの読み込み
def load_data():
  return pd.read_csv("train_AI.csv"), pd.read_csv("test_AI.csv")

train_data, test_data = load_data()

In [ ]:
X_train = train_data.drop('DEATH_EVENT', axis=1)  
X_test  = test_data.drop('DEATH_EVENT', axis=1)  
y_train = train_data['DEATH_EVENT'] 
y_test  = test_data['DEATH_EVENT']

---

There are some factors that affects Death Event. This dataset contains person's information like age ,sex , blood pressure, smoke, diabetes,ejection fraction, creatinine phosphokinase, serum_creatinine, serum_sodium, time and we have to predict their DEATH EVENT.

---
* The column named “DEATH_EVENT” is the target variable that we want to predict using our model. “0” means “alive” and “1” means “death”.
* The following cell shows the descrition of the data

In [ ]:
display(train_data.head())
#display(train_data.info())
#display(train_data.isna().sum())
display(test_data.describe())

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  40.0        1                       101  ...        0   187            0
1  59.0        0                        66  ...        0   135            1
2  49.0        0                       789  ...        1    55            1
3  48.0        1                       582  ...        0    15            1
4  64.0        0                       143  ...        0   214            0

[5 rows x 13 columns]

              age     anaemia  ...        time  DEATH_EVENT
count  150.000000  150.000000  ...  150.000000   150.000000
mean    60.104447    0.466667  ...  140.186667     0.300000
std     11.713529    0.500559  ...   82.254262     0.459793
min     40.000000    0.000000  ...    6.000000     0.000000
25%     51.250000    0.000000  ...   74.000000     0.000000
50%     60.000000    0.000000  ...  143.000000     0.000000
75%     68.000000    1.000000  ...  212.750000     1.000000
max     94.000000    1.000000  ...  285.000000     1.000000

[8 rows x 13 columns]

In [ ]:
from sklearn.model_selection import GridSearchCV# for tuning parameter
from sklearn.ensemble import RandomForestClassifier # for random forest classifier

from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score

from sklearn.tree import DecisionTreeClassifier
from sklearn import svm # for Support Vector Machine
from sklearn import metrics # for the check the error and accuracy of the model

# RandomForest

In [ ]:
RandomForestModel=RandomForestClassifier(n_estimators=100)# a simple random forest model

In [ ]:
RandomForestModel.fit(X_train,y_train)# now fit our model for traiing data

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
prediction=RandomForestModel.predict(X_test)# predict for the test data

In [ ]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
conf_matrix_baseline = pd.DataFrame(confusion_matrix(y_test, prediction), index = ['actual 0', 'actual 1'], columns = ['predicted 0', 'predicted 1'])
display(conf_matrix_baseline)
metrics.accuracy_score(prediction,y_test)

          predicted 0  predicted 1
actual 0           95           10
actual 1           12           33

0.8533333333333334

- Here the Accuracy for RandomForestModel is 85 %

# Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
predictions = logreg.predict(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [ ]:
y_pred = logreg.predict(X_test)
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score
conf_matrix_baseline = pd.DataFrame(confusion_matrix(y_test, y_pred), index = ['actual 0', 'actual 1'], columns = ['predicted 0', 'predicted 1'])
display(conf_matrix_baseline)
display('accuracy of Logistic Regression', recall_score(y_test, y_pred))

          predicted 0  predicted 1
actual 0           92           13
actual 1           17           28

'accuracy of Logistic Regression'

0.6222222222222222

# SVM

In [ ]:
model = svm.SVC()
model.fit(X_train,y_train)
prediction=model.predict(X_test)
conf_matrix_baseline = pd.DataFrame(confusion_matrix(y_test, prediction), index = ['actual 0', 'actual 1'], columns = ['predicted 0', 'predicted 1'])
display(conf_matrix_baseline)
print("accuracy of SVM",metrics.accuracy_score(prediction,y_test))

          predicted 0  predicted 1
actual 0          105            0
actual 1           45            0

accuracy of SVM 0.7

## Tried to do HyperParameter tuning the SVM -> 
But, it took too long, so I commented them.

In [ ]:
"""
from sklearn.metrics import confusion_matrix
from sklearn.metrics import recall_score

# lets Make a function for Grid Search CV
def Classification_model_gridsearchCV(model,param_grid,data_X,data_y):
    clf = GridSearchCV(model,param_grid,cv=10,scoring="accuracy")
    # this is how we use grid serch CV we are giving our model
    # the we gave parameters those we want to tune
    # Cv is for cross validation
    # scoring means to score the classifier
    
    
    clf.fit(X_train,y_train)
    


    print("The best parameter found on development set is :")
    # this will gie us our best parameter to use
    print(clf.best_params_)
    print("the bset estimator is ")
    print(clf.best_estimator_)

    y_pred = clf.fit(X_train,y_train)
    
    conf_matrix_baseline = pd.DataFrame(confusion_matrix(y_test, y_pred), index = ['actual 0', 'actual 1'], columns = ['predicted 0', 'predicted 1'])
    display(conf_matrix_baseline)
    display('SVM', recall_score(y_test, y_pred))

"""

'\nfrom sklearn.metrics import confusion_matrix\nfrom sklearn.metrics import recall_score\n\n# lets Make a function for Grid Search CV\ndef Classification_model_gridsearchCV(model,param_grid,data_X,data_y):\n    clf = GridSearchCV(model,param_grid,cv=10,scoring="accuracy")\n    # this is how we use grid serch CV we are giving our model\n    # the we gave parameters those we want to tune\n    # Cv is for cross validation\n    # scoring means to score the classifier\n    \n    \n    clf.fit(X_train,y_train)\n    \n\n\n    print("The best parameter found on development set is :")\n    # this will gie us our best parameter to use\n    print(clf.best_params_)\n    print("the bset estimator is ")\n    print(clf.best_estimator_)\n\n    y_pred = clf.fit(X_train,y_train)\n    \n    conf_matrix_baseline = pd.DataFrame(confusion_matrix(y_test, y_pred), index = [\'actual 0\', \'actual 1\'], columns = [\'predicted 0\', \'predicted 1\'])\n    display(conf_matrix_baseline)\n    display(\'SVM\', recall_score(y_test, y_pred))\n\n'

In [ ]:
"""
model=svm.SVC()
param_grid = [
              {'C': [1, 10, 100, 1000], 
               'kernel': ['linear']
              },
              {'C': [1, 10, 100, 1000], 
               'gamma': [0.001, 0.0001], 
               'kernel': ['rbf']
              }
 ]
Classification_model_gridsearchCV(model,param_grid,X_train,y_train)
"""

"\nmodel=svm.SVC()\nparam_grid = [\n              {'C': [1, 10, 100, 1000], \n               'kernel': ['linear']\n              },\n              {'C': [1, 10, 100, 1000], \n               'gamma': [0.001, 0.0001], \n               'kernel': ['rbf']\n              }\n ]\nClassification_model_gridsearchCV(model,param_grid,X_train,y_train)\n"